@import "tailwindcss";

@theme {
  --color-theme-100: #4077b0;
  --color-theme-200: #0353a4;
  --color-theme-300: #00246a;
}

.pane-enter-from {
  @apply duration-300 ease-out;
}

.pane-enter-active {
  @apply translate-y-4 opacity-0 sm:translate-y-0 sm:scale-95;
}

.pane-enter-to {
  @apply translate-y-0 opacity-100 sm:scale-100;
}

.pane-leave-from {
  @apply duration-200 ease-in;
}

.pane-leave-active {
  @apply translate-y-0 opacity-100 sm:scale-100;
}

.pane-leave-to {
  @apply translate-y-4 opacity-0 sm:translate-y-0 sm:scale-95;
}

.backdrop-enter-from {
  @apply duration-300 ease-out;
}

.backdrop-enter-active {
  @apply opacity-0;
}

.backdrop-enter-to {
  @apply opacity-100;
}

.backdrop-leave-from {
  @apply duration-200 ease-in;
}

.backdrop-leave-active {
  @apply opacity-100;
}

.backdrop-leave-to {
  @apply opacity-0;
}

.dropdown-menu-enter-from {
  @apply transform opacity-0 scale-95;
}

.dropdown-menu-enter-active {
  @apply transition ease-out duration-100;
}

.dropdown-menu-enter-to {
  @apply transform opacity-100 scale-100;
}

.dropdown-menu-leave-from {
  @apply transform opacity-100 scale-100;
}

.dropdown-menu-leave-active {
  @apply transition ease-in duration-75;
}

.dropdown-menu-leave-to {
  @apply transform opacity-0 scale-95;
}
