@import "tailwindcss";

@theme {
  --color-theme-100: #4077b0;
  --color-theme-200: #0353a4;
  --color-theme-300: #00246a;
}

.pane-enter-from {
  @apply duration-300 ease-out;
}

.pane-enter-active {
  @apply translate-y-4 opacity-0 sm:translate-y-0 sm:scale-95;
}

.pane-enter-to {
  @apply translate-y-0 opacity-100 sm:scale-100;
}

.pane-leave-from {
  @apply duration-200 ease-in;
}

.pane-leave-active {
  @apply translate-y-0 opacity-100 sm:scale-100;
}

.pane-leave-to {
  @apply translate-y-4 opacity-0 sm:translate-y-0 sm:scale-95;
}

.backdrop-enter-from {
  @apply duration-300 ease-out;
}

.backdrop-enter-active {
  @apply opacity-0;
}

.backdrop-enter-to {
  @apply opacity-100;
}

.backdrop-leave-from {
  @apply duration-200 ease-in;
}

.backdrop-leave-active {
  @apply opacity-100;
}

.backdrop-leave-to {
  @apply opacity-0;
}

.dropdown-menu-enter-from {
  @apply scale-95 transform opacity-0;
}

.dropdown-menu-enter-active {
  @apply transition duration-100 ease-out;
}

.dropdown-menu-enter-to {
  @apply scale-100 transform opacity-100;
}

.dropdown-menu-leave-from {
  @apply scale-100 transform opacity-100;
}

.dropdown-menu-leave-active {
  @apply transition duration-75 ease-in;
}

.dropdown-menu-leave-to {
  @apply scale-95 transform opacity-0;
}

.dropdown-smart-suggest-enter-from {
  @apply transition duration-100 ease-out;
}

.dropdown-smart-suggest-enter-active {
  @apply scale-y-0 transform opacity-0;
}

.dropdown-smart-suggest-enter-to {
  @apply scale-y-100 transform opacity-100;
}

.dropdown-smart-suggest-leave-from {
  @apply transition duration-75 ease-in;
}

.dropdown-smart-suggest-leave-active {
  @apply scale-y-100 transform opacity-100;
}

.dropdown-smart-suggest-leave-to {
  @apply scale-y-0 transform opacity-0;
}

.markdown-it h2 {
  @apply mt-2 mb-6 text-3xl;
}

.markdown-it h3 {
  @apply my-4 text-2xl;
}

.markdown-it strong {
  @apply font-semibold;
}

.markdown-it p {
  @apply my-2 pr-4;
}

.markdown-it hr {
  @apply my-4 text-gray-200;
}

.markdown-it ul {
  @apply space-y-2;
}

.markdown-it li {
}

.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: all 0.3s ease;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateY(-20px);
  max-height: 0;
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateY(-20px);
  max-height: 0;
  margin: 0;
  padding: 0;
  border: none;
}

.fade-slide-enter-to,
.fade-slide-leave-from {
  opacity: 1;
  transform: translateY(0);
  max-height: 1000px; /* Adjust based on your content height */
}
